body{
	width: 100%;
	margin: auto;
    font-family: 'Space Mono', monospace;
    text-decoration: none;

}

a {
    color:white;
    text-decoration: none;
}

nav {
  height: 20%;
  padding: .5em;
  position: fixed;
  right: 5%;
  text-decoration: none;
  color:white;
}

section{
  min-height: 100vh;
  overflow: auto;
}


footer {
  height: 5em;
  background: 333333;

}

/*img{
  width: 100%;
  or max-width: 100%;
}*/

.text1 {
    width: 70%;
    margin-left: 30px;
    margin-top: 60px;
    color: white;
    font-size: 35px;
    margin-bottom: 60px;
}

.text2 {
    width: 70%;
    margin-left: 30px;
    margin-top: 60px;
    color: white;
    font-size: 35px;
    margin-bottom: 60px;
}

.text3 {
    width: 70%;
    margin-left: 30px;
    margin-top: 60px;
    color: white;
    font-size: 35px;
    margin-bottom: 60px;
}

.work {
    text-decoration: underline;
}

.work:active {
    content: url('img/review.png');
    position: absolute;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.3);
    z-index: 10;
    top: 10px;
}

.miami:active {
    content: url('img/message.png');
    position: absolute;
    z-index: 10;
}

.twitt:active {
    content: url('img/twitt.png');
    position: absolute;
    z-index: 10;
}


.message {
    position: absolute;
    z-index: 10;
    margin-left: 100px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.3);

}


#demo1 {
    background: url(img/stadium.jpg) no-repeat center fixed; 
    background-size: cover;
}



#demo2 {
    background: url(img/same.jpg) no-repeat center fixed; 
    background-size: cover;
}

#demo3 {
    background: url(img/unnamed.png) no-repeat center fixed; 
    background-size: cover;
}