body {
	background-image: url("https://cypresspixill.files.wordpress.com/2015/09/stars.gif");
	background-color: black;
}

h1 {
	font-family: Helvetica;
	color:white;
	text-align: center;
	font-size: 80px;
}

p {
	font-family: helvetica;
	color:white;
	text-align: center;
	font-weight: lighter;
	margin-left: 440px;
	margin-right: 440px;
	line-height: 150%;
	font-size: 16px;
}

a {
	text-decoration: underline;
	font-family:helvetica;
	color:white;
	font-size: 12px;
}

a:hover {
	color:red;

}

#title {
	padding-top: 50px;
	padding-bottom: 100px;
	display: block;
	margin: auto;
}


#scan {
		padding-top: 200px;
		padding-bottom: 100px;
		display: block;
		margin: auto;


}

#sp {
		padding-top: 100px;
		display: block;
		margin: auto;

}

h2 {
	font-family: Helvetica;
	font-size: 40px;
	color: white;
	text-align: center;
	padding-top: 100px;
}

h3 {
	text-decoration: underline;
	font-family: Helvetica;
	font-size: 20px;
	color: white;
	text-align: center;
}

#step1 {
		padding-top: 60px;
		padding-bottom: 60px;
		display: block;
		margin: auto;
}

#map {
		padding-top: 100px;
		padding-bottom: 50px;
		display: block;
		margin: auto;
}

h4 {
	text-decoration: underline;
	font-family: Helvetica;
	font-size: 20px;
	color: white;
	text-align: center;
	padding-top: 60px;
}

#op {
		padding-top: 60px;
		padding-bottom: 60px;
		display: block;
		margin: auto;
		width: 400px;
}

#op2 {
		padding-top: 60px;
		padding-bottom: 60px;
		display: block;
		margin: auto;
		width: 400px;
}

#final {
		padding-top: 60px;
		padding-bottom: 60px;
		display: block;
		margin: auto;
}

#uc {
		padding-top: 60px;
		padding-bottom: 200px;
		display: block;
		margin: auto;
}

#ucv {
		text-decoration: underline;
		padding-bottom: 30px;
		text-align: center;
}

div {
		display: block;
		margin: auto;
		
}